@import "bootstrap-sprockets";
@import "bootstrap";

body {
  max-width: 1200px;
  margin: 0 auto
}

grid {
  height: 200px;
  width: 200px;
}

.panel, .panel-footer {
  max-width: 500px;
  margin: 0 auto
}
