@import "bootstrap-sprockets";
@import "bootstrap";

* {
  // padding: 0px;
  // margin: 0px;
  // border: 0px
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background: gold;
}

header.navbar {
  background: white;
}

// .navbar-default {
//   background: #208FE4;
// }
//
// .navbar-nav ul {
//   color: white;
// }

.jumbotron {
  background-image: url('https://pixieprodigy.files.wordpress.com/2012/07/garden-7-of-14.jpg');
  background-position: 0% 40%;
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  color: white;
  // opacity: 0.85;
  vertical-align: bottom;
}

.jumbotron-content {
   position: absolute;
   top: 300px;
}

.col-sm-4 {
  background: white;
  padding: 10px;
  border: 5px solid gold;
  height: 500px;
}

grid {
  height: 200px;
  width: 200px;
}

.panel, .panel-footer {
  max-width: 500px;
  margin: 0 auto
}

.profile-pic {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: 50% 50% no-repeat;
  overflow: hidden;
}


// pinterest css properties for task#index


#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: 600px
}

.hideOverflow {
  height: 90px;
  overflow:hidden;
}
